<h1 style="text-align:center">Todos los Eventos</h1>

<% @events.each do |event| %>
    <div class="row">
        <div class="col-md-2">
            <section class="chef_info center">
                
            </section>
        </div>
        <div class="col-md-8 well">
            <h4><%= link_to event.name, event_path(event) %></h4>
            <p><%= event.description %></p>
            <p>
                <span class="quiet"><small><%= time_ago_in_words(event.created_at) %> ago</small></span>
            </p>
        </div>
    </div>
    
<% end %>
