<div class="container">
    <div class="well center" style="margin-top:20px;">
        <h1 style="text-align:center;">Bienvenidos a EventsApp</h1>
        <h3 style="text-align:center; margin-bottom:15px;"> Reg&iacute;strate y ent&eacute;rate de los mejores eventos!</h3>
        <%= link_to "¡Regístrate ya!", register_path, class: "btn btn-lg btn-success center" %>
        <p style="text-align:center; margin-top:15px;"><%= link_to "Inicia Sesión", login_path, class: "center" %></p>
    </div>
</div>